:global {
  .leftEditor {
    display: flex;
    width: 75%;
    height: 100%;

    .leftEditor-stencil {
      position: relative;
      width: 25%;
    }

    .leftEditor-editor {
      display: flex;
      flex: 1;
      flex-direction: column;

      .editor-header {
        display: flex;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        border: 2px solid #ccc;
        border-right: none;

        .header-save {
          margin: auto 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .edit-tabs {
        :global {
          .ant-tabs-nav,
          .ant-tabs-bottom > .ant-tabs-nav,
          .ant-tabs-top > div > .ant-tabs-nav,
          .ant-tabs-bottom > div > .ant-tabs-nav {
            margin: 0;
          }

          .ant-tabs-content {
            height: 100%;

            .ant-tabs-tabpane {
              height: 100%;
            }
          }
        }
      }

      .editor-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1px;

        .header-bread {
          width: 100%;
          height: 30px;
        }

        .content-graph {
          display: flex;
          flex: 1;
          margin: 10px;

          .x6-graph {
            flex: 1;
            // width: 100% !important;
            // height: 100% !important;
          }
        }
      }
    }
  }
}

.rightDetail {
  flex: 1;
  box-sizing: border-box;

  .rightDetail-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    background-color: #f5f5f5;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
  }

  .rightDetail-content {
    // flex: 1;
    height: calc(100% - 40px);
    // text-align: center;
    border: 2px solid #ccc;

    .json-editor-content {
      width: 100%;
      height: 100% !important;
      overflow-x: scroll;
      overflow-y: scroll;
      background-color: #f5f5f5;
    }

    :global {
      .je-ready {
        box-sizing: border-box;

        h4 {
          display: flex !important;
          flex-direction: row;
          align-items: center;
          margin: 0;
          font-size: 0.8rem;
          line-height: 1;
        }

        button + label {
          margin: 0;
          font-size: 0.8rem;
          line-height: 1;
        }

        label.je-label {
          display: flex;
          flex: auto;
          flex-direction: row;
        }

        div.form-group {
          align-items: center;
        }

        .je-panel .columns .form-group {
          label {
            + .form-select {
              box-sizing: border-box;
            }
          }
        }

        select.form-select,
        input.form-input {
          height: 1.3rem;
          padding: 0.1rem 0.2rem;
        }

        button.btn.btn-primary {
          box-sizing: border-box;
          height: 1fr;
          margin: 5px !important;
          padding: 0 !important;
          background-color: transparent;
          border: transparent;
          outline-color: transparent;
          box-shadow: none;

          i.icon {
            color: #000000;
          }
        }

        .btn.btn-primary {
          color: #0a0a0a;
        }

        .btn {
          .btn-group.btn-sm.btn-primary {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 1em;
          }
        }

        .je-panel {
          box-sizing: border-box;
          background-color: #e1e3e1;

          // auto complete
          .toggle {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            width: 120px;
            height: 35px;
            border: 1px solid #ffc6c6;
            border-radius: 50px;
            transition: var(--transition-2);
          }

          .toggler {
            display: grid;
            align-content: center;
            align-self: flex-start;
            width: 60px;
            height: 25px;
            margin: 5px;
            color: #fff;
            text-align: center;
            background-color: rgba(255, 198, 198, 1);
            border-radius: 50px;
            cursor: pointer;
            transition: var(--transition-2);
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
          }

          .toggler:hover {
            width: 65px;
            background-color: rgba(255, 122, 122, 0.7);
          }

          .toggler::selection {
            color: #fff;
          }

          .strict {
            display: inline;
          }

          .loose {
            display: inline;
          }

          .selection {
            margin-top: 25vh;
            color: #ffc6c6;
            font-weight: bold;
            font-size: 2rem;
            transition: var(--transition-1);
          }

          .selection::selection {
            color: #64ceaa;
          }

          textarea.form-input[data-schemaformat='autoinput'] {
            height: 1.3em;
          }

          button.delete.json-editor-btntype-delete span {
            display: none;
          }

          .columns {
            &:first-child {
              border-top: 1px solid #ccc;
            }

            .column {
              box-sizing: border-box;
              border-bottom: 1px solid #ccc;
            }

            .form-group {
              display: flex;
              flex-direction: row;
              justify-content: stretch;
              padding: 4px 0;

              .form-label {
                margin-right: 5%;
                font-weight: 400;
                font-size: 12px;
              }

              .je-desc {
                flex-wrap: wrap;
                color: #1677ff;
                font-style: oblique;
                white-space: pre-wrap;
                word-break: break-word;
              }
            }
          }
        }

        .btn.btn-primary {
          background-color: #6c757d;
          border: #6c757d;
          border-radius: 5px;
        }

        .je-object__title {
          font-weight: 800;
          font-size: 15px;
        }
      }
    }
  }
}
