.leftEditor {
  width: 75%;
  height: 100%;
  display: flex;

  .leftEditor-stencil {
    width: 25%;
    position: relative;
    // background-color: pink;
    // z-index: 999;
    // height: 100vh;
  }

  .leftEditor-editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    .editor-header {
      height: 40px;
      box-sizing: border-box;
      line-height: 40px;
      border: 2px solid #ccc;
      border-right: none;
      display: flex;

      .header-save {
        margin: auto 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .edit-tabs {
      :global {

        .ant-tabs-nav,
        .ant-tabs-bottom>.ant-tabs-nav,
        .ant-tabs-top>div>.ant-tabs-nav,
        .ant-tabs-bottom>div>.ant-tabs-nav {
          margin: 0;
        }

        .ant-tabs-content {
          height: 100%;

          .ant-tabs-tabpane {
            height: 100%;
          }
        }
      }
    }


    .editor-content {
      margin-top: 1px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .header-bread {
        height: 30px;
        width: 100%;
      }

      .content-graph {
        flex: 1;
        margin:10px;
        .x6-graph {
          width: 100% !important;
          height: 100% !important;
        }
      }


    }
  }
}

.rightDetail {
  box-sizing: border-box;
  flex: 1;

  .rightDetail-header {
    background-color: #f5f5f5;
    font-weight: 800;
    height: 40px;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rightDetail-content {
    // text-align: center;
    border: 2px solid #ccc;
    // flex: 1;
    height: calc(100% - 40px);

    .json-editor-content {
      background-color: #f5f5f5;
      height: 100% !important;
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;


    }

    :global {
      .je-ready {
        box-sizing: border-box;

        h4 {
          font-size: 0.8rem;
          margin: 0;
          line-height: 1;
          display: flex !important;
          flex-direction: row;
          align-items: center;
        }

        button+label {
          font-size: 0.8rem;
          margin: 0;
          line-height: 1;
        }

        label.je-label {
          display: flex;
          flex-direction: row;
          flex: auto;
        }

        div.form-group {
          align-items: center;
        }


        .je-panel .columns .form-group {
          label {
            +.form-select {
              box-sizing: border-box;
            }

          }
        }

        select.form-select,
        input.form-input {
          padding: 0.1rem 0.2rem;
          height: 1.3rem;
        }

        button.btn.btn-primary {
          box-sizing: border-box;
          height: 1fr;
          margin: 5px !important;
          padding: 0 !important;
          box-shadow: none;
          outline-color: transparent;
          background-color: transparent;
          border: transparent;

          i.icon {
            color: #000000;

          }
        }

        .btn.btn-primary {
          color: #0a0a0a;
        }

        .btn {
          .btn-group.btn-sm.btn-primary {
            display: flex;
            height: 1em;
            flex-direction: row;
            flex-wrap: nowrap;
          }
        }

        .je-panel {
          background-color: #e1e3e1;
          box-sizing: border-box;

          // auto complete
          .toggle {
            display: flex;
            border: 1px solid #ffc6c6;
            height: 35px;
            width: 120px;
            border-radius: 50px;
            justify-content: flex-start;
            align-content: center;
            transition: var(--transition-2);
          }

          .toggler {
            display: grid;
            cursor: pointer;
            background-color: rgba(255, 198, 198, 1);
            color: #fff;
            height: 25px;
            width: 60px;
            border-radius: 50px;
            margin: 5px;
            text-align: center;
            align-content: center;
            align-self: flex-start;
            transition: var(--transition-2);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -webkit-touch-callout: none;
          }

          .toggler:hover {
            width: 65px;
            background-color: rgba(255, 122, 122, 0.7);
          }

          .toggler::selection {
            color: #fff;
          }

          .strict {
            display: inline;
          }

          .loose {
            display: inline;
          }

          .selection {
            margin-top: 25vh;
            font-size: 2rem;
            font-weight: bold;
            color: #ffc6c6;
            transition: var(--transition-1);
          }

          .selection::selection {
            color: #64ceaa;
          }

          textarea.form-input[data-schemaformat="autoinput"] {
            height: 1.3em;
          }

          button.delete.json-editor-btntype-delete span {
            display: none;
          }

          .columns {
            &:first-child {

              border-top: 1px solid #ccc;

            }

            .column {
              box-sizing: border-box;
              border-bottom: 1px solid #ccc;
            }

            .form-group {
              padding: 4px 0;
              display: flex;
              flex-direction: row;
              justify-content: stretch;

              .form-label {
                font-size: 12px;
                font-weight: 400;
                margin-right: 5%;
              }

              .je-desc {
                flex-wrap: wrap;
                color: #1677ff;
                font-style: oblique;
                word-break: break-word;
                white-space: pre-wrap;
              }
            }
          }

        }

        .btn.btn-primary {
          background-color: #6c757d;
          border: #6c757d;
          border-radius: 5px
        }

        .je-object__title {
          font-size: 15px;
          font-weight: 800;
        }
      }
    }
  }
}
